// Core variables and mixins
@import "../../bower_components/bootstrap/less/variables.less";
@import "../../bower_components/bootstrap/less/mixins.less";
// Reset
@import "../../bower_components/bootstrap/less/normalize.less";
/*@import "../../bower_components/bootstrap/less/print.less";*/
// Core CSS
@import "../../bower_components/bootstrap/less/scaffolding.less";
@import "../../bower_components/bootstrap/less/type.less";
@import "../../bower_components/bootstrap/less/code.less";
@import "../../bower_components/bootstrap/less/grid.less";
@import "../../bower_components/bootstrap/less/tables.less";
@import "../../bower_components/bootstrap/less/forms.less";
@import "../../bower_components/bootstrap/less/buttons.less";
// Components
@import "../../bower_components/bootstrap/less/component-animations.less";
@import "../../bower_components/bootstrap/less/glyphicons.less";
@import "../../bower_components/bootstrap/less/dropdowns.less";
@import "../../bower_components/bootstrap/less/button-groups.less";
@import "../../bower_components/bootstrap/less/input-groups.less";
@import "../../bower_components/bootstrap/less/navs.less";
@import "../../bower_components/bootstrap/less/navbar.less";
@import "../../bower_components/bootstrap/less/breadcrumbs.less";
@import "../../bower_components/bootstrap/less/pagination.less";
@import "../../bower_components/bootstrap/less/pager.less";
@import "../../bower_components/bootstrap/less/labels.less";
@import "../../bower_components/bootstrap/less/badges.less";
@import "../../bower_components/bootstrap/less/jumbotron.less";
@import "../../bower_components/bootstrap/less/thumbnails.less";
@import "../../bower_components/bootstrap/less/alerts.less";
@import "../../bower_components/bootstrap/less/progress-bars.less";
@import "../../bower_components/bootstrap/less/media.less";
@import "../../bower_components/bootstrap/less/list-group.less";
@import "../../bower_components/bootstrap/less/panels.less";
@import "../../bower_components/bootstrap/less/wells.less";
@import "../../bower_components/bootstrap/less/close.less";
// Components w/ JavaScript
@import "../../bower_components/bootstrap/less/modals.less";
@import "../../bower_components/bootstrap/less/tooltip.less";
@import "../../bower_components/bootstrap/less/popovers.less";
@import "../../bower_components/bootstrap/less/carousel.less";
// Utility classes
@import "../../bower_components/bootstrap/less/utilities.less";
@import "../../bower_components/bootstrap/less/responsive-utilities.less";
// Font-Awesome
@import "../../bower_components/font-awesome/less/variables";
@import "../../bower_components/font-awesome/less/mixins";
@import "../../bower_components/font-awesome/less/path";
@import "../../bower_components/font-awesome/less/core";
@import "../../bower_components/font-awesome/less/larger";
@import "../../bower_components/font-awesome/less/fixed-width";
@import "../../bower_components/font-awesome/less/list";
@import "../../bower_components/font-awesome/less/bordered-pulled";
@import "../../bower_components/font-awesome/less/spinning";
@import "../../bower_components/font-awesome/less/rotated-flipped";
@import "../../bower_components/font-awesome/less/stacked";
@import "../../bower_components/font-awesome/less/icons";

body, * {
  font-family: 'Trebuchet MS', Calibry, Sans;
}
.page {
  width: 21cm - 2*0.65cm;
  height: 28cm - 0.65cm - 0.9cm;
  padding: 0em;
  background-image: url(../img/phineo_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
}
footer {
  page-break-after: always;
  width: 21cm - 2*0.65cm - 2cm;
  height: 1.7cm - 0.1cm;
  padding: 0.5em 1cm 0 1cm;
  >.middle {
    position: absolute;
    width: inherit;
    >p {
      text-align: center;
      margin: 0;
      &:first-of-type {
        font-weight: bold;
      }
    }
  }
  >.right {
    position: absolute;
    width: inherit;
    >p {
      text-align: right;
      margin: 0;
    }
  }
}
h1 {
  font-family: 'Trebuchet MS', Calibry, Sans;
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
  margin: 0.1em 0;
  padding-top: 4em;
  background-image: url(../img/phineo_logo_big.png);
  background-size: 12em;
  background-position: top right;
  background-repeat: no-repeat;
}
h2 {
  font-family: 'Trebuchet MS', Calibry, Sans;
  font-size: 1.7em;
  font-weight: 100;
  text-align: center;
  margin: 0.1em 0 0.2em 0;
}
h3 {
  font-family: 'Trebuchet MS', Calibry, Sans;
  font-size: 1.2em;
  font-weight: 100;
  font-style: italic;
  color: white;
  background-color: blue;
  border-radius: 0.3em;
  margin: 0 0 0.5em 0;
  padding: 0.5em;
  background-image: linear-gradient(to right, #248ac6, #165377);
  box-shadow: 0.2em 0.2em 0.3em @gray;
}
h3.inner {
  margin: 2em 0 1em 0;
}
.skills {
  display: table;
  margin: 0.5em 0 1em 0;
  padding: 0;
  border: 0;
  width: 100%;
  >li {
    display: table-row;
    >div {
      padding-left: 0.5em;
      border: 1px solid @gray;
      display: table-cell;
      width: 30%;
    }
    >ul {
      padding-left: 0.5em;
      border: 1px solid @gray;
      display: table-cell;
      width: 70%;
      >li {
        display: inline;
        &:after {
          content: ', ';
        }
        &:last-of-type:after {
          content: '.';
        }
      }
    }
  }
}
header {
  border: 1px solid @gray;
  display: table;
  width: 100%;
  padding: 0.75em 2em;
  font-size: 1.1em;
  >ul {
    display: table-row;
    >li {
      display: block;
      &:first-of-type {
        display: table-cell;
        width: 20%;
      }
      &:nth-of-type(2) {
        font-weight: bold;
        padding-bottom: 0.3em;
      }
    }
  }
}
.environment {
  >li {
    display: inline;
    &:after {
      content: ', ';
    }
    &:last-of-type:after {
      content: '.';
    }
  }
}
.formation, .langues, .renseignements {
  display: table;
  width: 100%;
  >ul {
    display: table-row;
    >li {
      display: block;
      &:first-of-type {
        display: table-cell;
        width: 20%;
      }
    }
  }
}
