h3 Compétences fonctionnelles
ul
  li Gestion de projets client / fournisseur ou de développement interne.
  li Bon relationnel MOA.
  li Bonne connaissance de l’IPTV, de l’imagerie numérique, de la loterie.
  li Expert technique sur les sujets suivants :
  ul
    li Serveurs hautes performances.
    li Développements embarqués.
    li Méthodologie de développement.
    li Site web & Web performance optimization.
    li Développements mobiles natifs et hybrides.
    li Automatisation de tests.
    li Politiques et architectures OSS.
    li Linux en embarqué et en serveur.
