h3 Compétences techniques
ul.skills
  li
    div Méthodologies
    ul
      li Scrum
      li XP
      li Unified Process
      li PMP
      li Kanban
  li
    div Méthodologies de conception
    ul
      li UML
      li RUP (Unified Process)
      li FURPS
      li Design Patterns GoF, GRASP, POSA2
  li
    div Serveurs d’application
    ul
      li Apache / tomcat
      li NodeJS
  li
    div SGBD Relationnels
    ul
      li Oracle
      li Informix
      li mySQL
      li PostgreSQL
      li Access
      li SQLite
  li
    div NoSQL
    ul
      li Redis
      li MongoDB
      li Solr
      li Neo4j
  li
    div AGL
    ul
      li Eclipse
      li Visual studio
      li XCode
      li Android studio
      li Vim
      li NetBeans
      li Code::Blocks
      li SPE
  li
    div Outils
    ul
      li Git
      li Instruments
      li D-DMS
      li Chrome dev tools
      li SoapUI
      li UPnP CTT
      li UPnP Tools
      li Jazz
      li Continuus (Synergy)
      li Brew
      li Grunt
      li GCC
      li LLVM
      li BuildBots
      li Track
      li Scons
      li Doxygen
      li iPython
      li Ant
      li Maven
      li Wireshark
      li XiTi
      li Tagcommander
      li Lighttpd
      li Nginx
      li TOAD
      li DIA
      li Poseïdon
      li BOUML
      li Enterprise Architect
      li Microsoft Project
      li VNC
      li VmWare
      li VirtualBox
      li MinGW
  li
    div Langages
    ul
      li C++
      li JavaScript
      li HTML
      li CSS
      li Python
      li Perl
      li XML
      li SQL
      li Json
      li ZSH
      li Java
      li Objective-C
      li ActionScript
      li PHP
      li Bash
      li PowerShell
      li CoffeeScript
      li Jade
      li Less
      li Sass
      li Stylus
      li Markdown
      li Ruby
  li
    div Framework Web
    ul
      li Twitter Bootstrap
      li Backbone
      li Angular
      li WebDriver
      li Selenium
      li Karma
      li Jasmine
      li Mocha
      li Express
      li Connect
      li Passport
      li SocketIO
      li Cucumber
  li
    div Framework Java
    ul
      li Hibernate
      li Swing
      li Matisse
      li Struts
      li JCA / JCE
      li BouncyCastle
  li
    div Framework C++
    ul
      li Boost
      li Pantheios
      li OpenCV
      li CxxTests
      li Qt
      li GTKmm
      li gStreamer
      li FFMpeg
      li Platinum
  li
    div Framework Python
    ul
      li Twisted
      li Coherence
      li PyGTK
      li DOM
      li Log
      li Django
      li Zope
      li SCons
  li
    div Protocoles réseaux
    ul
      li Ethernet
      li Radio (WiFi, GSM, GPRS, UMTS, HSPA, LTE)
      li Token Ring
      li IPtables
      li OpenSSL
      li OpenVPN
      li OpenSSH 
      li IP
      li TCP
      li UDP
      li HTTP
      li TLS
      li SOAP
      li WebSocket
      li X25
      li UPnP & DLNA
      li TR-069
