h4 Startrek : Gamme de remplacement des STB, IAD, Tablettes & Smartphones, PC & Mac sur base HTML5
ul
  li Conception détaillée & réalisation pour les services :
  ul
    li Animations éditoriales, Recherche et recommandations, Media Center.
  li Formation au WPO (Web Performance Optimisation), à l'UPnP A/V 1.0 et l'IGMP v2.
h5 Environnement
ul.environment
  li HTML5
  li Sass
  li Jasmine
  li SOAP
  li REST
  li HTTP
  li JSON
  li XML (& DTD)
  li J2EE
  li SQLite
  li C & C++
  li AS2
  li Java
  li UPnP
  li DLNA
  li Python
  li Eclipe
  li XCode
  li SCRUM
h5 Résultats
ul
  li Référentiels de cas d'utilisations et backlog de stories par équipes.
  li Projet gelé faute de budget.
