h4 Milka - Lot 2 : Intégration d’un nouveau moteur de recommandations JINNI sur Tablettes Android & iOS
ul
  li Recueil des exigences, études de faisabilité, conception détaillée.
  li Assistance à la réalisation et à la validation, Suivi contractuel des activités forfaitarisés.
  li Développements d'un serveur multi-tiers d'A/B testing en full stack JS (NodeJS, Redis) pour 150k clients.
  li Formation des supports niveau 3 puis des niveaux 1 & 2.
h5 Environnement
ul.environment
  li HTML5
  li LESS
  li Jade
  li J2EE
  li Objective-C
  li Java
  li Jazz RRC & RTC
  li Eclipse
  li Vim
  li XCode
  li Instruments
  li D-DMS
  li Chrome Dev Tools
  li SCRUM
  li Behavior Driven Development
  li FURPS
  li Bootstrap
  li Backbone
  li D3
  li Express
  li Redis
  li Cucumber
  li Mocha & Chai
  li Brew
  li Bower
  li NodeJS
  li Express
  li SocketIO
  li RequireJS
h5 Résultats
ul
  li Etude de faisabilité Milka - Lot 2.
  li: a(href='https://play.google.com/store/apps/details?id=fr.bouyguestelecom.milka') B.TV tablette pour Android
  li: a(href='https://www.google.fr/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&ved=0CEQQFjAA&url=https%3A%2F%2Fitunes.apple.com%2Ffr%2Fapp%2Fb.tv-tablette%2Fid555953050%3Fmt%3D8&ei=DnavUo7RJeWg0QXKh4DIBw&usg=AFQjCNEVRoNmghz58N9nIAZiR_CbRcT0UQ&sig2=-E6oDf0iiFrEXVHRBceNeA&bvm=bv.57967247,d.d2k') B.TV tablette pour iOS
  li 1er serveur Full stack JS et 1er projet mené en Behavior Driven Development chez Bouygues Telecom.
  li: a(href='http://www.jinni.com/') Intégration avec JINNI
