h4 Etudes
ul
  li Casual Gaming (Playin'TV avec Visiware)
  li Media Center - Lot B1, B2, B3 & B4
  li Authentification des tablettes sur STB
h4 Réalisations
ul
  li Casual Gaming
  li Media Center - Lot A, B1, B2 & B3
  li Speedy - Lot 1 & Lot 2 (améliorations des campagnes de déploiement de fimwares)
  li GeekCamp - Lot 1 (A/B testing de déploiements)
  li France3 régions sur ADSL
  li Connaissance clients des raccordements réseaux
h5 Environnement
ul
  li Une moyenne de 4 projets techniques par projet client en production
  li Une moyenne de 25 personnes par projet client
  li PMP, FURPS
  li STB, IAD, PC, Mac, iOS, Android, ACS, OSS & BSS
  li AS2, C & C++, Air, Objective-C, Java, SOAP
h5 Résultats
ul
  li: a(href='http://www.assistance.bouyguestelecom.fr/tv-bbox/jeux-tv-bbox/jouer-jeux-tv-playin-tv') Casual gaming
  li: a(href='http://www.assistance.bouyguestelecom.fr/tv-bbox/services-tv-bbox-pratiques/photos-video-musique-tv-mediacenter') Media center
  li 1er SDK ActionScript pour fournisseur
  li Pilotage des fournisseurs : Motorola, Visiware, TVsersity, SagemCom, Technicolor, IBM
