h4 Remplacement de la gamme de terminaux de point de vente
ul
  li Projet d’équipement du parc du groupe pour 38.000 terminaux et 98% du CA de 10G€, puis le marché de renouvellement des loteries étrangères et des paris mutuels.
  li Projet d'innovation: remplacement de la technologie de reconnaissances de bulletins ou de ticket de loterie par une technologie optique avec reconnaissance de formes et défroissasse temps réel.
  li Responsable de 5 ingénieurs experts C++ / Python, 2 mathématiciens et un architecte.
  li Formation des supports niveau 3 puis des niveaux 1 & 2.
h5 Environnement
ul.environment
  li Unified Process
  li SCRUM
  li Behavior Driven Development
  li Test Driven Development
  li C++
  li OpenCV
  li OpenCL
  li Boost
  li Python
  li Scons
  li BuildBot
  li DistCC
  li VMWare
  li SVG
  li Linux embarqué
h5 Résultats
ul
  li Embarquement linux ~15 Mo avec intégration de WebKit
  li Chaîne d'intégration continue
  li Framework complet
  li Analyse des bulletins et tickets en moins de 1s
  li Automatisation des tests matériels
  li Projet transmis à mon successeur sans retard
