h4 Définition de la stratégie d’innovation de l’offre équipement de point de vente
ul
  li Conception et création d’un framework MVC2 en C++ pour la réalisation de terminaux de points de vente, de set top box et de passerelles protocolaires hautes performances.
  li Normalisation des développements C++ et Python par les méthodologies Unified Process et SCRUM, TDD, intégration continue, la documentation automatisée et la qualimétrie
  li Modélisation de l’architecture objet, de l’architecture parallèle et concurrentielle.
  li Définition de la politique société pour la gestion du risque sur les licences Open Source.
h5 Environnement
ul.environment
  li Unified Process
  li SCRUM
  li Behavior Driven Development
  li Test Driven Development
  li C++
  li GTKmm
  li GStreamer
  li FFMpeg
  li Boost
  li Python
  li Scons
  li SVG
  li Linux embarqué
h5 Résultats
ul
  li Nouvelle politique OSS
  li Convention et standardisation du codage
  li Architecture AOP orienté Asynchronous I/O et multi-thread
