h4 Sécurisation d’échanges financiers pour les prises de jeux sur www.fdjeux.com
ul
  li Conception, implémentation d’une librairie Java de sécurisation pour le framework J2EE.
h5 Environnement
ul.environment
  li Maven
  li J2EE
  li JCE/JCA
  li BouncyCastle
h5 Résultats
ul
  li Librairie de sécurisation
