h4 Serveur de média planning et de déploiement de média
ul
  li Tierce maintenance évolutive d'un serveur de Française des Jeux pour la loterie Loto Quebec.
  li Refactoring architectural du client SWING vers Matisse, passage en Java 5, mise en place d'un PKI.
  li Modélisation du SGBDR, portaqge des procédures stockées d'Informix vers Oracle PL/SQL.
h5 Environnement
ul.environment
  li JDB
  li PL/SQL
  li Ant
  li Java 5
  li Matisse
  li BouncyCastle
h5 Résultats
ul
  li Serveur customisé et spécialisé pour la loterie Quebec.
