h4 Évolution de la gamme de terminaux de jeux pour l'export
ul
  li Prototypage et participation à la rédaction des réponses aux appels d’offres, RFI et RFP.
  li Innovations : SGBD embarqué, transactionnel SOA, démonstration Web 2.0. 
  li Responsable de 3 ingénieurs experts C++
h5 Environnement
ul.environment
  li C++
  li Gecko (moteur HTML de Mozilla)
  li GTKmm
  li Adobe Flash Player
  li AS2
  li Haxe
  li GStreamer
  li FFMpeg
  li Boost
  li SQlite
  li SVG
  li XHTML
  li JavaScript 3
  li CSS 2
  li Linux embarqué
h5 Résultats
ul
  li Démonstrations et réponses à appels d'offres pour les loteries de Belgique, de Grèce et d'Espagne.
