h4 Terminaux de prises de jeux pour la loterie de Stuttgart
ul
  li Innovations : interface graphique en GTKmm, affichage de PDFs, plugins pour Mozilla, assistance à distance via VNC, chiffrement de disques par AES et des transactions par VPN Cisco, Firewall.
  li Responsable de 8 ingénieurs experts C++ et Linux et 1 chef de projet.
h5 Environnement
ul.environment
  li C++
  li Gecko (moteur HTML de Mozilla)
  li GTKmm
  li GStreamer
  li FFMpeg
  li Boost
  li XHTML
  li JavaScript 3
  li CSS 2
  li VNC
  li Linux embarqué
  li Iptable
  li OpenVPN
  li VPN Cisco
  li LoopAES
  li SmartCard ISO 7816-4
  li PC/SC Lite
h5 Résultats
ul
  li 15K terminaux déployés.
  li Meilleure solution de sécurité avec pour concurrents : Cisco, Wincorn Nixdorf.
