h4 Préparation à l’export de l’offre terminaux de prises jeux
ul
  li Innovations : moteur de rendu Web, lecteur de vidéo MPEG4, création d’embarquement Linux.
  li Responsable de 3 ingénieurs experts C++ et Linux.
h5 Environnement
ul.environment
  li C++
  li Gecko (moteur HTML de Mozilla)
  li GTKmm
  li GStreamer
  li FFMpeg
  li Boost
  li XHTML
  li JavaScript 3
  li CSS 2
  li Linux embarqué
h5 Résultats
ul
  li Prototypes utilisés pour toutes les démonstrations de Sagem Sécurité (Morpho).
