h4 Déploiement d’un système de tickets à gratter pour la Française des Jeux
ul
  li Gestion en-ligne automatisée et sécurisée des tickets à gratter pour la loterie n°1 dans le monde sur ce secteur soit environ 3 G€ de CA annuel sur ces jeux
  li Déploiement d’une gamme de terminaux munis d’une technologie de sécurisation par contact électrique.
  li Supervision de l’installation et de la montée en charge d’un site central à haute disponibilité.
  li Rédaction des offres commerciales et des contrats de maintenance.
  li Projet stratégique et international : direction à Atlanta, terminaux à Suresnes, site central à Vienne, installation à Vitrolles.
  li Responsable global du projet : 2 chefs de projets techniques, 2 responsables Q/A, 2 administrateurs sur site, environ 20 ingénieurs d’études dont les 3/4 en Autriche.
h5 Environnement
ul.environment
  li Contexte international
  li Oracle 9i
  li QNX
  li OpenVMS
h5 Résultats
ul
  li Système toujours en utilisation à ce jour (début 2014).
  li 15K terminaux déployés en France.
