h4 Framework C/C++ sur QNX d'applications embarquées pour Française des Jeux
ul
  li Conception, modélisation objet, réalisation et documentation d’une architecture orienté service.
  li Rédaction des cas d’utilisations, implémentation via un automate à état.
  li Gestion de cartes à puces. Réalisation et intégration de solution de chiffrement.
h5 Environnement
ul.environment
  li Unified Process
  li UML
  li QNX
  li C & C++
  li SmartCard ISO 7816-4
//-h5 Résultats
//-ul
  //-li Étude de faisabilité & prototypes
