h4 Carte d’acquisition vidéo d'un mamographe pour Philips Medical System
ul
  li Conception des cartes, réalisation de banc de tests, développement de drivers et d’applications. 
  li Supervision de 2 techniciens.
h5 Environnement
ul.environment
  li VHDL
  li C
  li Windows driver SDK
  li MFC
//-h5 Résultats
//-ul
  //-li Cartes d'acquisition.
  //-li Banc de tests.
  //-li Applications de démonstrations.
