h4 Mise en place d'une Web agency
ul
  li Mise en place des serveurs.
  li Developpement d'une solution d'e-commerce.
  li Réalisations des sites web.
  li Présentation en salons et actions commerciales.
h5 Environnement
ul.environment
  li Apache
  li Oracle 8
  li Linux
  li HTML
  li Photoshop
//-h5 Résultats
//-ul
  //-li 2 salons, 3 sites web dont le site institutionnel.
