h4 Maintenance du parc informatique de la préfecture et de ses directions
ul
  li Formation du personnel. Définition des procédures. Conception et réalisation d'outils internes.
h5 Environnement
ul.environment
  li Windows NT & 3.1
  li Mac OS9
  li Token Ring
  li X25
  li IP
  li Access
  li VBA
