h3 Formation
.formation
  ul
    li 1990-1996
    li DESS EEA - Informatique industrielle
    li Université de Reims Champagne Ardennes
h3.inner Langues
.langues
  ul
    li Anglais
    li Courant
  ul
    li Allemand
    li Notions
h3.inner Renseignements personnels
.renseignements
  ul
    li Né le
    li 07 févrrier 1972
  ul
    li Nationalité
    li Français
  ul
    li Situation familiale
    li Marié, un enfant
