!!!5
html
  head
    meta(charset='utf-8')
    title CV Pierre-Eric Marchandet
    link(rel='stylesheet', href='css/cv.css')
  body
    .page
      include ./partials/01_header.jade
      include ./partials/10_functional_skills.jade
      include ./partials/20_technical_skills.jade
    footer
      include ./partials/05_footer.jade
    .page
      h3 Expérience professionnelle
      article
        header
          ul
            li 22 mois
            li Phineo Technologies
            li Technical leader / Solution architect pour Bouygues Telecom
        section
          include ./partials/30_professional_expertise_phineo04.jade
        section
          include ./partials/40_professional_expertise_phineo03.jade
    footer
      include ./partials/05_footer.jade
    .page
      section
        include ./partials/50_professional_expertise_phineo02.jade
      article
        header
          ul
            li 21 mois
            li Phineo Technologies
            li Chef de projets transverses études et réalisations pour Bouygues Telecom
      section
        include ./partials/60_professional_expertise_phineo01.jade
    footer
      include ./partials/05_footer.jade
    .page
      article
        header
          ul
            li 9 ans et 1 mois
            li LotSys, groupe Française des Jeux
            li Chef de projet
      section
        include ./partials/70_professional_expertise_lotsys08.jade
      section
        include ./partials/71_professional_expertise_lotsys07.jade
      section
        include ./partials/72_professional_expertise_lotsys06.jade
    footer
      include ./partials/05_footer.jade
    .page
      section
        include ./partials/73_professional_expertise_lotsys05.jade
      section
        include ./partials/74_professional_expertise_lotsys04.jade
      section
        include ./partials/75_professional_expertise_lotsys03.jade
      section
        include ./partials/76_professional_expertise_lotsys02.jade
    footer
      include ./partials/05_footer.jade
    .page
      section
        include ./partials/77_professional_expertise_lotsys01.jade
      article
        header
          ul
            li 1 an et 5 mois
            li Scientific Games France
            li Ingénieur d'affaires, puis, Chef de projet global <small>MOE principale</small>
        section
          include ./partials/80_professional_expertise_others04.jade
      article
        header
          ul
            li 2 ans et 4 mois
            li Sogetek
            li Ingénieur d'études et développements
        section
          include ./partials/81_professional_expertise_others03.jade
        section
          include ./partials/82_professional_expertise_others02.jade
    footer
      include ./partials/05_footer.jade
    .page
      article
        header
          ul
            li 4 mois
            li Viamedia, groupe JVS
            li Webmaster
        section
          include ./partials/83_professional_expertise_others01.jade
      article
        header
          ul
            li 11 mois
            li Préfecture de la Marne
            li Webmaster
        section
          include ./partials/84_professional_expertise_others00.jade
    footer
      include ./partials/05_footer.jade
    .page
      include ./partials/90_additional_infos.jade
    footer
      include ./partials/05_footer.jade
