!!!5
html
  head
    meta(charset='utf-8')
    title CV Pierre-Eric Marchandet
    link(rel='stylesheet', href='css/cv.css')
  body
    h1 Pierre-Eric MARCHANDET
    h2 Chef de projet - Technical leader
    h3 Compétences fonctionnelles
    ul
      li Gestion de projets client / fournisseur ou de développement interne.
      li Bon relationnel MOA.
      li Bonne connaissance de l’IPTV, de l’imagerie numérique, de la loterie.
      li Expert technique sur les sujets suivants :
      ul
        li Serveurs hautes performances.
        li Développements embarqués.
        li Méthodologie de développement.
        li Site web & Web performance optimization.
        li Développements mobiles natifs et hybrides.
        li Automatisation de tests.
        li Politiques et architectures OSS.
        li Linux en embarqué et en serveur.
    .page-break
    h3 Compétences techniques
    ul
      li Méthodologies
      ul
        li Scrum
        li XP
        li Unified Process
        li PMP
        li Kanban
      li Méthodologies de conception
      ul
        li UML
        li RUP (Unified Process)
        li FURPS
        li Design Patterns GoF, GRASP, POSA2
      li Serveurs d’application
      ul
        li Apache / tomcat
        li NodeJS
      li SGBD Relationnels
      ul
        li Oracle
        li Informix
        li mySQL
        li PostgreSQL
        li Access
        li SQLite
      li NoSQL
      ul
        li Redis
        li MongoDB
        li Solr
        li Neo4j
      li AGL
      ul Eclipse
        li Visual studio
        li XCode
        li Android studio
        li Vim
        li NetBeans
        li Code::Blocks
        li SPE
      li Outils
      ul
        li Git
        li Instruments
        li D-DMS
        li Chrome dev tools
        li SoapUI
        li UPnP CTT
        li UPnP Tools
        li Jazz
        li Continuus (Synergy)
        li Brew
        li Grunt
        li GCC
        li LLVM
        li BuildBots
        li Track
        li Scons
        li Doxygen
        li iPython
        li Ant
        li Maven
        li Wireshark
        li XiTi
        li Tagcommander
        li Lighttpd
        li Nginx
        li TOAD
        li DIA
        li Poseïdon
        li BOUML
        li Enterprise Architect
        li Microsoft Project
        li VNC
        li VmWare
        li VirtualBox
        li MinGW
      li Langages
      ul
        li C++
        li JavaScript
        li HTML
        li CSS
        li Python
        li Perl
        li XML
        li SQL
        li Json
        li ZSH
        li Java
        li Objective-C
        li ActionScript
        li PHP
        li Bash
        li PowerShell
        li CoffeeScript
        li Jade
        li Less
        li Sass
        li Stylus
        li Markdown
        li Ruby
      li Framework Web UX
      ul
        li Twitter Bootstrap
        li Backbone
        li Angular
        li WebDriver
        li Selenium
        li Karma
        li Jasmine
        li Mocha
      li Framework Full Stack JS
      ul
        li Express
        li Connect
        li Passport
        li SocketIO
        li Cucumber
      li Framework Java
      ul
        li Hibernate
        li Swing
        li Matisse
        li Struts
        li JCA / JCE
        li BouncyCastle
      li Framework C++
      ul
        li Boost
        li Pantheios
        li OpenCL
        li OpenCV
        li CxxTests
        li Qt
        li GTKmm
        li gStreamer
        li FFMpeg
        li Platinum UPnP
      li Framework Python
      ul
        li Twisted
        li Coherence
        li PyGTK
        li DOM
        li Log
        li SciPy
        li MatPlotlib
        li NumPy
        li DB
        li Django
        li Zope
        li WAF
        li SCons
        li Zip
        li Tar
        li Doxypy
      li Protocoles réseaux
      ul
        li Ethernet
        li Edge
        li GPRS
        li UMTS
        li Token Ring
        li IPtables (firewall Linux)
        li OpenSSL
        li VPN Cisco
        li OpenVPN
        li OpenSSH 
        li IP
        li TCP/UDP
        li HTTP
        li FTP
        li SOAP
        li WebSocket
        li X25
        li UPnP
        li DLNA
        li TR-069
    .page-break
    h3 Expérience professionnelle
    article
      header
        ul
          li 22 mois
          li Phineo Technologies
          li Technical leader / Solution architect pour Bouygues Telecom
      section
        h4 Arrakis : Mise à niveau des applications STB, IAD, Tablettes & Smartphones, PC & Mac
        ul
          li Recueil des exigences, études de faisabilité, conception détaillée.
          li Rédaction des contrats de forfaits pour les développements MediaCenter PC & Mac.
          li Assistance à la réalisation et à la validation, Suivi contractuel des activités forfaitarisés.
          li Formation des équipes à la création automatisée de vidéos de référence via Gstreamer, à l'utilisation des outils de certifications UPnP CTT, DLNA CTT.
        h5 Environnement
        ul
          li AS2
          li C & C++
          li BuildRoot
          li Objective-C
          li Java
          li DLNA
          li Air
          li Bash
          li Python
          li Jazz RRC & RTC
          li Android Developper Studio
          li XCode
          li Instruments
          li D-DMS
          li SCRUM
          li Platinum UPnP
          li XiTi
          li TagCommander
          li SQLite
        h5 Résultats
        ul
          li Etudes de faisabilité : Retrait des contraintes DMR, QOE.
          li: a(href='https://www.google.fr/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&ved=0CDAQFjAA&url=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dfr.bouyguestelecom.mediacenter%26hl%3Dfr&ei=rWuvUq-5KMnM0AWa_4GIBw&usg=AFQjCNEJW9gxutr2OMLR6RuFAJYONEoz4g&sig2=Xzkm5w0rYCyILByAvj5FzA&bvm=bv.57967247,d.d2k') media center Bbox sur Android
          li: a(href='https://www.google.fr/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&ved=0CDAQFjAA&url=https%3A%2F%2Fitunes.apple.com%2Ffr%2Fapp%2Fmedia-center-bbox%2Fid485317740%3Fmt%3D8&ei=8GuvUqWHJ8qO0AXf-4CQCA&usg=AFQjCNEKVNRtktJRE9V9_Ncpy_WfhY7Nag&sig2=D3Gh8bUPe2DMHXhlstT0IA&bvm=bv.57967247,d.d2k') media center Bbox sur iOS
          li: a(href='http://www.assistance.bouyguestelecom.fr/tv-bbox/services-tv-bbox-pratiques/photos-video-musique-tv-mediacenter') media center Bbox sur PC & Mac
      section
        h4 Startrek : Gamme de remplacement des STB, IAD, Tablettes & Smartphones, PC & Mac sur base HTML5
        ul
          li Conception détaillée & réalisation pour le service : Animations éditoriales, Recherche et recommandations, Media Center.
          li Formation au WPO (Web Performance Optimisation), à l'UPnP A/V 1.0 et l'IGMP v2.
        h5 Environnement
        ul
          li HTML5
          li Sass
          li Jasmine
          li SOAP
          li REST
          li HTTP
          li JSON
          li XML (& DTD)
          li J2EE
          li SQLite
          li C & C++
          li AS2
          li Java
          li UPnP
          li DLNA
          li Python
          li Eclipe
          li XCode
          li SCRUM
        h5 Résultats
        ul
          li Référentiels de cas d'utilisations et backlog de stories par équipes.
          li Projet gelé faute de budget.
      section
        h4 Milka - Lot 2 : Intégration d’un nouveau moteur de recommandations JINNI sur Tablettes Android & iOS
        ul
          li Recueil des exigences, études de faisabilité, conception détaillée.
          li Assistance à la réalisation et à la validation, Suivi contractuel des activités forfaitarisés.
          li Développements d'un serveur multi-tiers d'A/B testing en full stack JS (NodeJS, Redis) pour 150k clients.
          li Formation des supports niveau 3 puis des niveaux 1 & 2.
        h5 Environnement
        ul
          li HTML5
          li LESS
          li Jade
          li J2EE
          li Objective-C
          li Java
          li Jazz RRC & RTC
          li Eclipse
          li Vim
          li XCode
          li Instruments
          li D-DMS
          li Chrome Dev Tools
          li SCRUM
          li Behavior Driven Development
          li FURPS
          li Bootstrap
          li Backbone
          li D3
          li Express
          li Redis
          li Cucumber
          li Mocha & Chai
          li Brew
          li Bower
          li NodeJS
          li Express
          li SocketIO
          li RequireJS
        h5 Résultats
        ul
          li Etude de faisabilité Milka - Lot 2.
          li: a(href='https://play.google.com/store/apps/details?id=fr.bouyguestelecom.milka') B.TV tablette pour Android
          li: a(href='https://www.google.fr/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&ved=0CEQQFjAA&url=https%3A%2F%2Fitunes.apple.com%2Ffr%2Fapp%2Fb.tv-tablette%2Fid555953050%3Fmt%3D8&ei=DnavUo7RJeWg0QXKh4DIBw&usg=AFQjCNEVRoNmghz58N9nIAZiR_CbRcT0UQ&sig2=-E6oDf0iiFrEXVHRBceNeA&bvm=bv.57967247,d.d2k') B.TV tablette pour iOS
          li 1er serveur Full stack JS et 1er projet mené en Behavior Driven Development chez Bouygues Telecom.
          li: a(href='http://www.jinni.com/') Intégration avec JINNI
    article
      header
        ul
          li 21 mois
          li Phineo Technologies
          li Chef de projets transverses études et réalisation pour Bouygues Telecom
      section
        h4 Etudes
        ul
          li Casual Gaming (Playin'TV avec Visiware)
          li Media Center - Lot B1, B2, B3 & B4
          li Authentification des tablettes sur STB
        h4 Réalisations
        ul
          li Casual Gaming
          li Media Center - Lot A, B1, B2 & B3
          li Speedy - Lot 1 & Lot 2 (améliorations des campagnes de déploiement de fimwares)
          li GeekCamp - Lot 1 (A/B testing de déploiements)
          li France3 régions sur ADSL
          li Connaissance clients des raccordements réseaux
        h5 Environnement
        ul
          li Une moyenne de 4 projets techniques par projet client en production
          li Une moyenne de 25 personnes par projet client
          li PMP, FURPS
          li STB, IAD, PC, Mac, iOS, Android, ACS, OSS & BSS
          li AS2, C & C++, Air, Objective-C, Java, SOAP
        h5 Résultats
        ul
          li: a(href='http://www.assistance.bouyguestelecom.fr/tv-bbox/jeux-tv-bbox/jouer-jeux-tv-playin-tv') Casual gaming
          li: a(href='http://www.assistance.bouyguestelecom.fr/tv-bbox/services-tv-bbox-pratiques/photos-video-musique-tv-mediacenter') Media center
          li 1er SDK ActionScript pour fournisseur
          li Pilotage des fournisseurs : Motorola, Visiware, TVsersity, SagemCom, Technicolor, IBM
